body {
    font-family: Helvetica, Arial, sans-serif;
    /* background-color: aliceblue;  */
    background-color: #EEE;
    display: flex;
    flex-direction: column;
    color: #2D9699;    
}


a, a:hover, a:visited, a:active
{
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
	color:#2D9699;
	/* text-decoration:none; */
}