body {
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    background-color: #EEE;
    color: white;
    display: grid;
    width: 100%;
    grid-template:  "nav head" 100px
                    "nav main" 1fr
                    / 120px 1fr;    
}


header {
    margin-left: 5px;
    background-color: #ffa938;
    grid-area: head;
}

.title h1 {
    text-align: center;
}


nav {
grid-area: nav;
display: grid;
grid-template-columns: 1fr;
grid-template-rows: 100px repeat(9, 55px);
}

nav div {
    background-color: #ff4949;
    height: 50px;
    margin-top: 5px;
}

.home {
    margin: 0;
    height: auto;
}

a, a:hover, a:visited, a:active
{
    overflow-wrap: normal;
    display: flex; /* contexte sur le parent */
    flex-direction: column; /* direction d'affichage verticale */
    justify-content: center;
    text-align: center;
    height: 50px;
    font-weight: bold;
    color: white;
	text-decoration: none;
}

nav div:hover {
    box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.2);   
}

main {    
    margin-left: 5px;
    margin-top: 5px;
}

.wrapper {
    display: flex;
}

.wrapper a {
    background-color: #2D9699;
    width: 150px;
    height: 50px;
    margin-right: 5px;
    margin-bottom: 5px;
    justify-content: center;
    text-align: center;
}

table { 
    color: #333;
    font-family: Helvetica, Arial, sans-serif;
    /* width: 780px; */
    /* Table reset stuff */
    border-collapse: collapse; border-spacing: 0;
    border: 0 none;
    
  }
main .metadata {
    font-family: Helvetica, Arial, sans-serif;
    color: #2D9699; 
    font-weight: bold;
    text-indent: 40px;
    margin-bottom: 5px;
}
main span {
    color: #000;
}
        
td, th {
    border: 2px solid #FDFDFD; height: 30px;  text-align: center;
}
            
th {
    /* Gradient Background */
    background: #ffa938;/*linear-gradient(#333 0%,#169da5 100%);*/
    color: #FFF; 
    font-weight: bold;
    height: 40px;
}
        
td {
    background: #FAFAFA; text-align: center; width: 80px;
}

/* Zebra Stripe Rows */		
tr:nth-child(even) td { background: #EEE; } 
tr:nth-child(odd) td { background: #FDFDFD; }

/* First-child blank cells! */
tr th:first-child { 
    color: #2D9699; 
    background: none; 
    font-style: italic;
    font-weight: bold;
    font-size: 14px;
    text-align: right;
    padding-right: 10px;
    width: 30px;
    height: 30px;	
    border: none;
}

/* Add border-radius to specific cells! */
tr:first-child th:nth-child(2) { 
    width: 240px;
    border-radius: 8px 0 0 8px;  
} 

tr td:last-child { 	
    font-size: 0.7em;
}

tr:first-child th:last-child { 
    width: 300px;
    border-radius: 0 8px 8px 0;
}

tr td:nth-child(2) {
    font-style: italic;
}

tr:nth-child(1) td:nth-child(2) {
    font-weight: bold;
    font-size: 1.1em;
}

.oth {
    opacity: 0.6;
}

.dead {
    opacity: 0.3;
}
