
body::after {
    filter: sepia(100%);
}

section table {
    border-collapse: collapse;
    background-color: var(--minor2-bg-color);
    border-top-left-radius: 0.8rem;
    border-top-right-radius: 0.8rem;
    box-shadow: 1px 1px 3px 2px var(--main-txt-color);
}

section thead th {
    background-color: var(--main-bg-color);
    position: sticky;
    top: 0;
}

section thead tr {
    background-color: var(--main-bg-color);
    border-top-left-radius: 0.8rem;
    border-top-right-radius: 0.8rem;
    color: #FFFFFF;
}

section tbody tr:nth-child(odd) {
    background-color: #fff;
}

section th, section td {
    padding: 0.25rem;
    border-bottom: 0.1rem solid #ccc;
    border-left: 0.1rem solid #ccc;
    border-right: 0.1rem solid #ccc;
}

section table thead th {
    text-align: center;
}

section tbody th {
    text-align: left;
}

section td {
    text-align: right;
}

section thead th:first-child {
    min-width: 20rem;
    border-top-left-radius: 0.8rem;
}

section thead th:last-child {
    min-width: 20rem;
    border-top-right-radius: 0.8rem;
}

section thead th:nth-child(2),
section thead th:nth-child(3),
section thead th:nth-child(4),
section thead th:nth-child(5),
section thead th:nth-child(6),
section thead th:nth-child(7),
section thead th:nth-child(8),
section thead th:nth-child(9),
section thead th:nth-child(10),
section thead th:nth-child(11)  {
    min-width: 10rem;
}

section thead th:nth-child(12) {
    min-width: 8rem;
}
section thead th:nth-child(13){
    min-width: 6rem;
}

section tbody tr:nth-child(26),
section tbody tr:nth-child(22),
section tbody tr:nth-child(18),
section tbody tr:nth-child(14),
section tbody tr:nth-child(11),
section tbody tr:nth-child(8),
section tbody tr:nth-child(5) {
    border-bottom: 0.3rem solid var(--main-bg-color);
}


section table tbody tr:nth-child(5) {
    border-bottom: 0.3rem solid var(--main-bg-color);
}



