
main {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    gap: 2rem;
}

main nav ul {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    position: sticky;
    top: 0;
}

main li a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(var(--base-txt-size) * 1.3);
    background-color: var(--minor2-bg-color);
    height: var(--container-size);
    width: calc(var(--container-size) * 3);
    text-align: center;
}

.sub-nav {
    margin: 0 auto;
    font-size: calc(var(--base-txt-size) * 1.2);
    background-color: var(--minor2-bg-color);
    height: calc(var(--container-size)/ 2);
    width: calc(var(--container-size) * 2.9);
    border-radius: calc(var(--container-height) / 2);
}



