
header {
    display: flex;
    justify-content: center;
}

header h1 {
    font-size: calc(var(--base-txt-size) * 2);
}

main {
    width: var(--container-width);
}

main nav {
    margin-top: 2.5rem;
}

main ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5rem;
}

main li a {
    --container-size: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(var(--base-txt-size) * 1.5);
    background-color: var(--minor2-bg-color);
    height: var(--container-size);
    width: calc(var(--container-size) * 4);
    text-align: center;
    box-shadow: 0.1rem 0.1rem 0.3rem 0.2rem var(--main-txt-color);
}
/*
header a:hover,
main li a:hover {
    color: var(--main-bg-color);
}*/



